[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "skymusicedu.github.io"]
	path = skymusicedu.github.io
	url = git@github.com:skymusicedu/skymusicedu.github.io.git
[submodule "themes/syna"]
	path = themes/syna
	url = https://github.com/okkur/syna.git
[submodule "skymusicedu_website"]
	path = skymusicedu_website
	url = https://git.dev.tencent.com/skymusicedu/skymusicedu_website.git
